Babel==2.7.0
black==21.9b0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cx-Freeze==6.8.1
entrypoints==0.3
grpcio
grpcio-tools
importlib-metadata==4.8.1
Jinja2==3.0.2
lazy-object-proxy
Loggings==1.0.81
loguru==0.5.3
MarkupSafe==2.0.1
money==1.3.0
mypy-extensions==0.4.3
pathlib==1.0.1
pathspec==0.9.0
platformdirs==2.4.0
protobuf
pycodestyle==2.6.0
Pygments==2.10.0
pyscard==1.9.8
pytz==2019.2
regex==2021.10.23
rich==10.4.0
six==1.12.0
termcolor==1.1.0
tomli==1.2.1
typing-extensions==3.10.0.2
wrapt==1.11.2
zipp==3.6.0