PyQt-env
PyQt-env/*
PyQt-Env
PyQt-Env/*
.vscode
*.mm
__pycache__
build/
dist/
*.spec
*.csv
counterHistory.json
defaultHistory.json
transactionHistory.json
*.zip
data
venv/
env/
*.svg
*.dot
*_pb2*
swagger-client
*_pb2*
.DS_Store
.envrc
poetry.lock