astroid==2.2.5
Babel==2.7.0
certifi==2019.11.28
entrypoints==0.3
flake8==3.7.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyscard==1.9.8
python-dateutil==2.8.1
pytz==2019.2
six==1.12.0
swagger-client==1.0.0
typed-ast==1.4.0
urllib3==1.25.8
wrapt==1.11.2
